<h1><%= currentUser.username %>'s profile page</h1>

<% currentUser.favorites.forEach(function(game){ %>
<div class='profileGame'>
	<div class='row'>
		<div class='col-6'>
			<p> <span class='gameTitle'><%= game.name %></span></p>
		</div>
		<div class='col-3'>
			<p> Genre: <%= game.genres %> </p>
		</div>
		<div class='col-3'>
			<p> Platform: <%= game.platforms %> </p>
		</div>
	</div>
	<div class='row'>
		<div class='col'>
			<p style="margin-bottom:0;"><span class="summary">Short Summary:</span></p>
		</div>
	</div>
	<div class='row'>
		<div class='col'>
			<p> <%= game.summary %> </p>
		</div>
	</div>
	<form method="DELETE" action="/account/<%=game._id%>">
	  <input type="hidden" name=":id" value="<%= game._id %>">
	  <input class="deleteButton" type="submit" value="Remove <%=game.name%> from favorites">
	</form>
	<hr>
</div>
<% }) %>
