<h1><%= currentUser.username %>'s profile page</h1>

<% currentUser.favorites.forEach(function(game){ %>
<p> Cover: <%= game.cover %> </p>
<p> Genres: <%= game.genres %> </p>
<p> Name: <%= game.name %> </p>
<p> Platforms: <%= game.platforms %> </p>
<p> Summary: <%= game.summary %> </p>
<form method="DELETE" action="/account/<%=game._id%>">
  <input type="hidden" name=":id" value="<%= game._id %>">
  <input type="submit" value="Remove <%=game.name%> From Favorites">
</form>
<% }) %>
