<% if (results) { %>

<% results.forEach(function(game){ %>
<div class="searchGame">
	<div class='row'>
		<div class='col-6'>
			<p><span class='gameTitle'><%= game.name %></span></p>
		</div>
		<div class='col-3'>
			<p> Genre: <%= game.genres %> </p>
		</div>
		<div class='col-3'>
			<p> Platform: <%= game.platforms %> </p>
		</div>
	</div>
	<div class='row'>
		<div class='col'>
			<p style="margin-bottom:0;"><span class="summary">Short Summary:</span></p>
		</div>
	</div>
	<div class='row'>
		<div class='col'>
			<p> <%= game.summary %> </p>
		</div>
	</div>
	<form action="/search/games/" method="POST">
	  <input type="hidden" name="cover" value="<%= game.cover %>">
	  <input type="hidden" name="genres" value="<%= game.genres %>">
	  <input type="hidden" name="id" value="<%= game.id %>">
	  <input type="hidden" name="name" value="<%= game.name %>">
	  <input type="hidden" name="platforms" value="<%= game.platforms %>">
	  <input type="hidden" name="summary" value="<%= game.summary %>">
	  <input type="submit" value="Add <%=game.name%> To Favorites">
	  <input type="hidden" name="results" value="<%=results%>">
	</form>
	<hr>
</div>
<% }) %>
<% } else {%>
	Search games you want to view.
<% } %>

